<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="Testscript.Login_Test"/>
      <class name="Testscript.GitHub_attrbute_Test"/>
      <class name="Testscript.Github_links_Test"/>
      <class name="Testscript.Startproject_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
